<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054565144194-b38nu2omoffednknru7tcdh9ib2a5kuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054565144194-b38nu2omoffednknru7tcdh9ib2a5kuc</string>
	<key>API_KEY</key>
	<string>AIzaSyBBaiWaOHDTEzwiy9YCFUv6VXQfBMvaTiA</string>
	<key>GCM_SENDER_ID</key>
	<string>1054565144194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aniket.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e1fee</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e1fee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054565144194:ios:c37df5797b76d9d805869b</string>
</dict>
</plist>